html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
    display: flex;
    justify-content: center;
    word-break: break-word;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}